@import './base';

.App {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  font-family: 'neodgm', serif;

  a {
    text-decoration: none;
    &:visited { color: black; }
  }
  
  .window {
    @include retro-border;
    position: relative;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    animation: show-window 500ms ease-in-out forwards;
  }
}


h1 { margin: 0; }

@media screen and (min-width: 1000px) {
  .App {
    padding: 80px 0;
    max-width: 1000px;
  }
  
}